a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.banner {
    background-image: url(banner.jpg);
    background-size: cover;
    padding: 3% 0%;
    margin-top: 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.welcome  {
    min-width: fit-content;
    margin: 5% 15%;
}

#headerwelcome {
    color: white;
    margin: 0;
    font-weight: 500;
}

#whatsnew {
    background-color: inherit;
    color: white;
    border: 1px solid white;
    font-size: 100%;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px;
}

.video {
    display: inline-flex;
    flex-wrap: wrap;
    align-self: center;
    margin: 0% 5%;
}

iframe {
    width: 450px;
    height: 300px;
}

@media (max-width: 460px) {
    .video {
        width: 200px;
        height: auto;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.headers {
    margin: 0px;
}

.app {
    margin: auto 15% 5%;
}

.card:hover,
.card:focus, 
#whatsnew:hover {
    transform: scale(1.05) perspective(1px);
    box-shadow: 2px 3px 5px 0 rgb(0 0 0 / 15%);
    cursor: pointer;
}
