
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}

text {
    font-family: myriad-pro,"Myriad Pro","Open Sans",Arial,sans-serif;
}

.welcome {
    background: linear-gradient(rgb(233, 81, 81), rgb(240, 166, 240));
    /* background-image: url(dogs_1280p_0.jpeg); */
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: auto;
    margin-top: 10px;
}

#headerwelcome {
    color: white;
}

#whatsnew {
    background-color: inherit;
    color: white;
    border: 1px solid white;
}

.buttons {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    margin: auto;
}

button:hover,
button:focus {
    transform: scale(1.05) perspective(1px);
    box-shadow: 2px 3px 5px 0 rgb(0 0 0 / 15%); 
}

.headers {
    margin: 20px;
}

.app {
    margin: auto 15% 5%;
}