
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}

text, h1, h2, h3, h4, p {
    font-family: Arial, myriad-pro,"Myriad Pro","Open Sans",sans-serif;
}

.welcome {
    /* background: linear-gradient(rgb(233, 81, 81), rgb(240, 166, 240)); */
    background-image: url(banner.jpg);
    padding: 5% 5% 7% 5%;
    margin-top: 10px;
}

#headerwelcome {
    color: white;
}

#whatsnew {
    background-color: inherit;
    color: white;
    border: 1px solid white;
    font-size: 100%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.headers {
    margin: 20px;
}

.app {
    margin: auto 15% 5%;
}

.card:hover,
.card:focus {
    transform: scale(1.05) perspective(1px);
    box-shadow: 2px 3px 5px 0 rgb(0 0 0 / 15%);
    cursor: pointer;
}
