.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items:center;
    margin:10px 20px 10px 20px;
    height:40px;
    
    
}

@media screen and (max-width:800px) {

    /* Hide the big logo if width < 800px */
    #logo-img {
        display: none;
    }
   
}

@media screen and (min-width:801px) {

    /* Hide the small logo if width > 800px */
    #logo-img-small {
        display:none;
    
    }
}

#logo {
    flex: 0 0 140px;
    display: inline-flex;
}

#logo-img-small {
    height: 40px;
}

#logo-img {
    height: 40px;
}

#title {
    margin:10px;
    font-size: 1.25rem;
}
#search {
    flex: 6 6 400px;
    min-width: 150px;
    max-width:640px;
    margin:10px;
}

#search-bar {
    align-self: flex-start;
    height: 40px;
    width: 90%;
    background-color: rgba(236, 236, 236, 0.959);
    /* border:1px solid purple; */
    border:none;
    border-radius: 20px;;
    font-size: 90%;
    outline : none;
    padding: 0 0 0 20px;
    
    
}

#talk-to-expert {
    flex: 0 0 150px;
    font-family: myriad-pro,"Myriad Pro","Open Sans",Arial,sans-serif;
    background-color:#d9232e;
    color: white;
    border: 1px solid rgb(177, 11, 11);
    display: block;

    font-size:100%;
    padding: 10px;
    height: 40px;
    margin:10px;
    border-radius:5px;
}
/* 
@media screen and (min-width: 1100px) {
    #talk-to-expert { display: block; }
} */

.btn-talk-to-expert {
    cursor: pointer;
}