.course-button {
    width: 300px;
    height: 230px;
    border:none;
    background-color: white;
    margin: 0;
    padding: 0px 0px;
}

#course-img {
    width: 300px;
    height: auto;
    margin: 0px;
}

.course-name {
    text-align: center;
    padding: 0px 10px;
}

.course-desc {
    margin: 0;
    padding: 0;
}

h5 {
    margin-bottom: 0;
}