.expert-button {
    width: 300px;
    height: 250px;
    border: 2px solid lightgray;
    background-color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;}

.expert-name {
    margin: 5px 10px;
}

.expert-desc {
    margin: 0;
}

.expert-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expert-img {
    object-fit: cover;
    object-position: top;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Modal formatting */

.modal {
    position: fixed;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5% 5%;
    background-color: white;
    border: 2px solid black;
    /* border: none; */
    box-shadow: 5px 6px 10px 0 rgb(0 0 0 / 40%);
    text-align: center;
}


.modal-img {
    object-fit: cover;
    object-position: top;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#close-modal {
    background-color: inherit;
    border: none;
    padding: auto;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 200%
}

#close-modal:hover, #close-modal:focus {
    cursor: pointer;
}

.expert-email, .expert-linked {
    margin: 0%;
}

.extra-info {
    margin-top: 5%;
}

.overlay {
    background-color: red;
}