.expert-button {
    width: 300px;
    height: 300px;
    border: 2px solid lightgray;
    background-color: white;
    /* margin:auto;
    margin-top:20px; */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expert-name {
    margin: 5px 10px;
}

.expert-desc {
    margin: 0;
}

.expert-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#expert-img {
    object-fit: cover;
    object-position: top;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}