.footer {
    background-color: rgb(243, 243, 243);
    margin: 0px 0px;
    padding: 2% 2%;
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: space-between;
}

.ms-info {
    padding: 0 10%;
}

.copyright {
    font-family: myriad-pro,"Myriad Pro","Open Sans",Arial,sans-serif;
    font-size: 70%;
}

.logo {
    display: inline-block;
    min-width: 300px;
    max-width: 400px;
    height: auto;
    vertical-align: middle;
}

.icon {
    color: white;
    margin: 0.25rem;
    padding: 0.25rem;
    background-color: black;
    gap: 10px;
}

.socials {
    gap: 10px;
}

.slds-col {
    margin: 4% 0%;
} 

.slds-grid {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.sitemap {
    gap: 60px;
}

li {
    list-style: none;
}

.label-link {
    font-size: 120%;
    text-transform: uppercase;
}

.site-nav {
    padding: 0% 10%;
}

a {
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #d9232e;
}