.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}


#logo {
    flex: 1 2 25px;
    width: fit-content;
}

#logo-img {
    height: 25px;
    width: auto;
}

#search {
    flex: 6 0 100px;
    margin: 0px 20px;
    align-self: flex-start;
}

#search-bar {
    align-self: flex-start;
    height: 30px;
    width: 100%;
    background-color: rgba(236, 236, 236, 0.959);
    border:none;
    font-size: 110%;
}

/* #submit-button {
    height: 30px;
    border:none;
    background-color:lightgrey;
} */

#talk-to-expert {
    background-color:red;
    color: white;
    border: 1px solid rgb(177, 11, 11);
    display: none;
    margin: 5px 0px;
    padding: 5px;
}

@media screen and (min-width: 1100px) {
    #talk-to-expert { display: block; }
}